<h1>Museums in D.C.</h1>

<%= form_tag(museums_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Search museums by name', name: nil %>
<% end %>

<div>
    <ul>
    <% @museums.sort_by(&:name).each do |museum| %>
        <li><%= link_to museum.name, museum_path(museum) %></li>
    <% end %>
    </ul>
</div>